{
  "extends": "airbnb-base",
  "env": {
    "node": true,
    "browser": true,
    "mocha": true,
    "es6": true
  },
  "plugins": ["chai-friendly"],
  "rules": {
    "no-param-reassign": 0,
    "no-underscore-dangle": 0,
    "no-plusplus": 0,
    "no-unused-expressions": 0,
    "chai-friendly/no-unused-expressions": 2
  }
}